<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Cory Smith</title>
            <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/img/icon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-sm bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Cory Smith</a>
            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" asp-controller="Home" asp-action="Index" asp-fragment="portfolioGrid">Portfolio</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" asp-controller="Home" asp-action="About">About</a></li>
@*                     <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" asp-controller="Home" asp-action="About" asp-fragment="contact">Contact</a></li>
 *@                </ul>
            </div>
        </div>
    </nav>

    <!--BODY-->
    <div class="text-body">
    @RenderBody()
    </div>
</body>
</html>

<footer class="footer text-center">
        <p1>
            This site was built with Razor and ASP.NET, using the <a href="https://startbootstrap.com/theme/freelancer" target="_blank">startbootstrap freelancer template.</a>
            <a href="https://www.flaticon.com/free-icon/game-control_1722368">Controller icon made by Freepik</a>
            <br/>
            <a href="https://github.com/cjs937/PortfolioSite" target="_blank">Check out the source on Github!</a>
        </p1>
        <br/>
        <div class="body text-center">
            <a href="mailto:csmithdevmail@gmail.com"
               target="_blank"
               class="btn btn-social">
                <i class="fas fa-inbox"></i>
            </a>
            <a href="https://www.linkedin.com/in/csmithin/"
               target="_blank"
               class="btn btn-social">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
</footer>