@{
    ViewData["Title"] = "About Me";
}

<div class="container">
    <br/>
    <h1 class="page-section-heading text-center text-uppercase text-secondary mb-0" id="about">About Me</h1>
    <div class="body">
        <p1>
            <h2>What's up!</h2> 
            I'm Cory, a game programmer currently based in Pittsburgh. My main specialization is in gameplay, systems, and tools, but I am comfortable being a generalist on most projects. I work primarily in C++ and C#, and I am proficient with both Unreal Engine and Unity.<br/>

            I graduated from Champlain College in 2019 with a B.S. in Game Programming. After that, I spent five years at Schell Games, where I shipped four titles and prototyped many others.<br/>

            For me, everything starts with the player experience. My favorite place is next to my teammates, collaborating, bouncing ideas (and jokes) around, and finding the fun together.<br/>
        </p1>
        <br/>
        <p1>
            <h2>My Origin</h2>
            Born and raised in Atlanta, GA, I've been a gamer for as long as I can remember. One of my earliest childhood memories is sitting on my mom's lap playing <i>A Bugs Life</i> on our Nintendo 64. Whether it was the <i>Sly Cooper</i> series on PS2, <i>Pokemon Ruby</i> on GBA, or one of the many <i>Cartoon Network</i> tie-in web games, I don’t think there’s ever been a time in my life when I wasn’t chasing the adventures digital worlds had to offer. The stories that games can tell, the emotions they can evoke, and the unique social dynamics that only come from playing splitscreen with friends, kept me hooked. So, when it came time to pick a college major 18 years later, game dev was the obvious path forward.
            <br/>
        </p1>
        <br/>
        <p1>
            <h2>The Now</h2>
            My journey in this industry is far from over, and I’m always looking for opportunities to build, experiment, and create. Recently, I’ve been branching out into web development and design principles in order to broaden my perspective as a developer and adapt to new industries.
            My dream is to tell a story of my own one day, to make something the world has never seen before, and to prove to others like me that they can follow this path too.
            <br/>
        </p1>
    </div>
</div>
<br/>
<br/>
<br/> <!-- todo: make the footer snap to bottom. using breaks temporarily to fill empty space -->



<!--OLD CONTACT SECTION-->
@*
<div class="container">
<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0" id="contact">Contact Links</h2>
    <div class="body text-center">
        <a href="mailto:csmithdevmail@gmail.com" 
        target="_blank" 
        class="btn btn-social">
            <i class="fas fa-inbox"></i>
        </a>
        <a href="https://www.linkedin.com/in/csmithin/" 
        target="_blank" 
        class="btn btn-social">
            <i class="fab fa-linkedin"></i>
        </a>
    </div>
</div> *@