@{
    ViewData["Title"] = "About";
}

<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0" id="about">About Me</h2>

<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0" id="contact">Contact Me</h2>