@using PortfolioSource.Models

@{
    ViewData["Title"] = "Portfolio Home";
}

<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="assets/img/headshot.jpg" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Cory Smith</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-chess-king"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <h1 class="masthead-heading-padded font-weight-light mb-0 text-center">Game Engineer</h1></br>
        <ul class="no-bullets"
            <li><p class="masthead-subheading font-weight-light mb-0">Gameplay</p></li></br>
            <li><p class="masthead-subheading font-weight-light mb-0">Systems</p></li></br>
            <li><p class="masthead-subheading font-weight-light mb-0">Tools</p></li></br>
        </ul>
    </div>
</header>

<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-university"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Portfolio Grid Items (Filled dynamically)-->
        <div class="row justify-content-center" id="portfolioGrid">        
        </div>

    </div>

   <div class="portfolio-modal modal fade" id="modalShell" tabindex="-1" aria-hidden="true"></div>



</section>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/portfolioModals.js"></script>
